.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
node_modules
.idea/
*.log
cypress/downloads
public/assets/fonts

# Build analysis
stats.html
.vite-inspect

# Cache
.eslintcache
.stylelintcache
*.tsbuildinfo
